// colors
$global-background: linear-gradient(to left bottom, #010101 0%, #000000 100%);

// screen-sizes
$sm: 320px;
$md: 768px;
$lg: 1024px;

@mixin mediaMaxW($width) {
    @media screen and (max-width: $width) {
      @content;
    }
  }

  @mixin mediaMinW($width) {
    @media screen and (min-width: $width) {
      @content;
    }
  }