@import "styles/_variables.scss";

.hero {
    width: 100%;
    height: 100vh;;
    text-align: left;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-overflow-scrolling: touch;
}

.boxed-container {
    margin: 0 auto;
}

header, nav, section {
    display: block;
}

.container {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    padding: 2rem 0;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.016);
    border: 1px solid grey;
}

main {
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: block;
}

header, nav, section {
    display: block;
}

@media screen and (min-width: $md) {

    main {
        display: flex;
        align-items: center;
    }

    .container {
        margin: 2rem;
        justify-content: center;
        padding: 4rem 0;
    }
}
